// Color Palette
$primary: var(--primary);
$dark: var(--dark);
$light: var(--light);
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$muted: #6c757d;

// Bootstrap variable overrides
$theme-colors: ("primary": $primary,
    "dark": $dark,
    "light": $light,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
);

body {
    background-color: #f8f9fa;
    color: $dark;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: $dark;
    color: $light;
}

.desk-card {
    transition: all 0.3s ease-in-out;

    .card {
        &-body {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        &-text {
            margin: 0 !important;
        }
    }

    &.available {
        border-color: $primary;
        background-color: var(--turq-200);

        &:hover {
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
            transform: translateY(-2px);
        }
    }

    &.occupied {
        background-color: #f8f9fa;
        border-color: #dee2e6;

        .reserved {
            color: $muted;
        }
    }

    &.my-reservation {
        border-color: var(--turq-300);
        background-color: $primary ;

        .card-title {
            color: $light;
        }
        .reserved{
                color: var(--turq-500);
        }
    }

    .reserved {
        font-weight: bold;
    }
}

.date-selector-btn {
    &.active {
        background-color: $primary;
        border-color: $primary;
    }
}

.map-modal .modal-dialog {
    max-width: 800px;
}